fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langgraph
faiss-cpu
pypdf
python-dotenv
pillow
sentence-transformers
google-generativeai
protobuf